/*Google Search Page*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 540px;
    margin: 0px;
}

.googleLogo {
    margin-bottom: 15px; /* Adjust spacing between logo and search bar */
}

.googleLogo img {
    width: 250px; 
    height: auto; 
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: #fff;
    padding: 0 16px;
    transition: background-color 0.2s ease-in-out;
}

.searchBar:hover {
    box-shadow: 0 1px 8px rgba(32, 33, 36, 0.4);
}

.searchBar input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.button{
    margin-top: 20px;
    display: flex;
    width: 140px;
}

.button input[type="submit"]{
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button input[type="submit"]:hover {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(32, 33, 36, 0.4);
}

.link-container {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 17px;
}

.link a{
    color: #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.link:hover a{
    text-decoration: underline;
}

/*Advanced Search Page*/

